<% title "Calendar - Todo" %>
<% css "pages" %>

<% if signed_in? %>
<div class="row-fluid">
	<!-- sidebar for main view -->
	<%= render 'layouts/sidebar' %>

	<div class="col-lg-10" id="main-view">
	<!-- This calls the simple calendar and displays it -->
		<div class="well" style="margin-top: 10px;">
			<%=calendar current_user.getTasks, class: "calendar table" do |t| %>
				<div><%= t.task %></div>
			<%end%>
		</div>
	</div>
</div>

<%= render 'layouts/taskmodals' %>

<% end %>