<% title "Todo App" %>
<% css "pages" %>

<% if signed_in? %>
<div class="row-fluid">
	<!-- sidebar for main view -->
	<div class="col-lg-2" id="sidebar">
	</div>

	<div class="col-lg-10" id="main-view">

		<% @taskslists.each do |list| %>
			<div class="tasklist">
				<div class="tasklist-header">
					<button type="submit" class="btn btn-sm btn-primary add-task-btn" title="Add new task" data-toggle="modal" data-target="#newTask">
						<span class="glyphicon glyphicon-plus"/>
					</button>
					<button type="submit" class="btn btn-sm btn-primary add-task-btn" title="Share tasklist" data-toggle="modal" data-target="#shareList">
						<span class="glyphicon glyphicon-share"/>
					</button>
					<h2>To Do</h2>
				</div>
				<ul class="tasklist-items">
					<li class="task">
						<button type="submit" class="btn btn-sm btn-default task-check-btn" title="Mark complete">
							<span class="glyphicon glyphicon-unchecked"/>
						</button>
						<p>test task<p>
					</li>
					<li class="task">
						<button type="submit" class="btn btn-sm btn-default task-check-btn" title="Mark complete">
							<span class="glyphicon glyphicon-unchecked"/>
						</button>
						<p>And another<p>
					</li>
					<li class="task">
						<button type="submit" class="btn btn-sm btn-default task-check-btn" title="Mark complete">
							<span class="glyphicon glyphicon-unchecked"/>
						</button>
						<p>One last one<p>
					</li>
				</ul>
			</div>
		<% end %>

		<div class="tasklist">
			<div class="tasklist-dummy">
				<button type="submit" class="btn btn-sm btn-primary add-tasklist-btn" title="Create new tasklist" data-toggle="modal" data-target="#newTaskList">
					<span class="glyphicon glyphicon-plus"/>
				</button>
				<h2>Create new list</h2>
			</div>
		</div>


	</div>
</div>

<!-- New Tasklist Modal -->
<div class="modal fade" id="newTaskList" tabindex="-1" role="dialog" aria-labelledby="newTasklistLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="newTasklistLabel">Add a new tasklist</h4>
			</div>

			<div class="modal-body">

				<%= form_for @new_tasklist, html: {class: "form-group"} do |f| %>
					<%= f.label :name, "Task List Name" %>
					<%= f.text_field :name, class: "form-control" %>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<%= f.submit "Create Task List", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- New Task Modal -->
<div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="newTaskLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="newTaskLabel">Add a new task</h4>
			</div>

			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="newtask-task">Task</label>
						<input type="email" class="form-control" id="newtask-task" placeholder="Enter task">
					</div>
					<div class="form-group">
						<label for="newtask-duedate">Due Date (optional)</label>
						<input type="date" class="form-control" id="newtask-duedate">
					</div>
					<div class="form-group">
						<label for="newtask-priority">Priority</label>
						<select class="form-control" id="newtask-priority">
							<option>Low</option>
							<option selected="selected">Regular</option>
							<option>High</option>
						</select>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Add task</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Share Tasklist Modal -->
<div class="modal fade" id="shareList" tabindex="-1" role="dialog" aria-labelledby="shareListLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" id="shareListLabel">Share your list</h4>
			</div>

			<div class="modal-body">
				<form role="form">
					<div class="form-group">
						<label for="sharetask-email">Email Address</label>
						<input type="email" class="form-control" id="sharetask-email" placeholder="Enter email address">
					</div>
					<div class="form-group">
						<label>Permission</label>
						<div class="checkbox">
							<label>
							<input type="checkbox" value="">
							Add tasks
							</label>
						</div>
						<div class="checkbox">
							<label>
							<input type="checkbox" value="">
							Mark tasks complete
							</label>
						</div>
						<div class="checkbox">
							<label>
							<input type="checkbox" value="">
							Delete tasks
							</label>
						</div>
						<div class="checkbox">
							<label>
							<input type="checkbox" value="">
							Delete list
							</label>
						</div>
					</div>
				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary">Share list</button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% else %>

<% end %>