/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* unfortunately, this is the only way to make a sidebar 100% height */
html, body, .container-fluid, .row-fluid, #sidebar, #main-view
{
  height: 100%;
}

#sidebar {
	background-color: #08c;
}

#main-view {
	overflow: scroll;
	background-color: gray;
	white-space: nowrap;

}

.tasklist {
	display: inline-block;
	margin: 10px;
	width: 280px;
	border-radius: 5px;
	background-color: white;
	vertical-align: top;
}

.tasklist-header {
	padding-left: 10px;
	border-bottom: thin solid #08c;
}

ul.tasklist-items {
	list-style-type:none;
	padding: 5px;
	padding-left: 10px;
}

li.task {
	margin-top: 5px;
	margin-bottom: 20px;
}



.main{
	overflow: scroll;
	width:500px; /* probably need to remove this later */
	/*height:auto;*/
	white-space: nowrap;
	overflow-y: hidden ! important; 
	overflow-x: auto ! important;
}

.add-task-btn {
	float: right;
	margin-right: 5px;
}

.task-check-btn {
	float: left;
	margin-right: 5px;
}


/*******************************************************************************
 * BOOTSTRAP THEMING
 ******************************************************************************/

.navbar {
	background-color: #333; 
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
	border-bottom: 5px #08c solid!important;
}
