.popup {
    width:200px;
    height:50px;
    border:1px solid #eee;
    background:black;
    color:white;
    font-family:Calibri;
    line-height:50px;
    text-align:center;
    font-size:15px;

    position:absolute;
    left:50%;
    bottom: 5%;
    margin:-25px 0 0 -100px;
}