<div class="col-lg-2" id="sidebar">
	<button type="submit" class="btn btn-primary add-tasklist-btn" title="Create new tasklist" data-toggle="modal" data-target="#newTaskList">
		Add Task List
	</button>
	<div class ="upcoming-events">
		<div class="upcoming-events-header">
			<h3>Due this week</h3>
		</div>
		<table class="table table-hover" id="upcoming-events-table">
			<!-- This iterates through upcoming events and finds dates due within the week and displays them -->
			<% upcoming_tasks = [] %>
			<% current_user.task_lists.each do |list| %>
				<% list.tasks.each do |task| %>
					<% if task.has_due_date && !task.finished && task.duedate < Date.today + 7 %>
						<% upcoming_tasks << task %>
					<% end %>
				<% end %>					
			<% end %>
			<% sorted = upcoming_tasks.sort {|a,b| a.duedate <=> b.duedate} %>
			<% [10, sorted.size].min.times do |i| %>
				<tr>
					<td><%= sorted[i].task %></td>
					<td><%= sorted[i].duedate.strftime('%b %e') %></td>
				</tr>
			<% end %>
		</table>	
	</div>
	<%flash.each do |completed, action|%>
		<div class="popup" style='display:none'><%=action%></div>
	<%end%>
</div>